@keyframes nav-slide-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (min-width: 900px) {
    nav {
        animation: 1s ease nav-slide-in;
    }
}

.project_nav {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-left: 3em;
}

.project_nav .bx-chevron-left {
    font-size: 2em;
}

main {
    margin: 8vh 5vw;
}

img {
    width: 100%;
}