@keyframes nav-slide-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (min-width: 900px) {
    nav {
        animation: 1s ease nav-slide-in;
    }
}

.project_nav {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-left: 3em;
}

.project_nav .bx-chevron-left {
    font-size: 2em;
}

main {
    margin: 8vh 5vw;
    padding-top: 1em;
}

.project-content {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    hyphens: auto;
}

.project-content > div:not(.sidenote) {
    text-align: justify;
    margin-top: 10px;
}

.project-name {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 1.5em;
}

.project-name a > * {
    transform: translateY(2px);
}

.bxl-github {
    margin-left: .5em;

}

img {
    width: 100%;
    box-shadow: 1px 1px 5px dimgrey;
}

.sidenote {
    font-style: italic;
    position: relative;
    padding: 1em 0;
    margin: 1em 0;
}

.sidenote::before {
    content: '';
    width: 100%;
    border-bottom: 1px solid red;
    position: absolute;
}

.sidenote::after {
    content: '';
    width: 100%;
    height: 10px;
    border-top: 1px solid red;
    position: absolute;
}

@media screen and (min-width: 800px) {
    .project-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 2em;
        row-gap: 3em;
        grid-auto-flow: dense;
    }

    .project-content > div {
        margin-top: -5px;
    }
}
