.image-2, .image-4 {
    display: flex;
    gap: 1em;
}

@media screen and (min-width: 800px) {
    /*.project-content > * {*/
    /*    background-color: darkolivegreen;*/
    /*}*/

    .image-1 {
        grid-column: span 3;
        grid-row: span 2;
    }

    .text-1 {
        grid-column: span 3;
        grid-row: span 2;
        padding-inline: 7em;
        align-self: center;
    }

    .image-2 {
        grid-column: span 2;
    }

    .sidenote {
        align-self: center;
        /*grid-column: span 2;*/
    }

    .image-3 {
        grid-column: span 3;
        grid-row: span 3;
    }

    .text-2 {
        grid-column: span 3;
    }
}