@keyframes nav-slide-in {
    0% {
        transform: translateX(100%);
    }
    33% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

body {
    text-align: justify;
    cursor: none;
}

nav {
    cursor: initial;
}

img {
    cursor: initial;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media screen and (min-width: 600px) {
    .mouse-tracker {
        position: fixed;

        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: white;

        top: calc(var(--mouse-y) * 100% - 50px);
        left: calc(var(--mouse-x) * 101% - 50px);
    }
}

@media screen and (min-width: 900px) {
    body {
        cursor: none;
    }

    nav {
        animation: 1.5s ease nav-slide-in;
    }

    ::-webkit-scrollbar:hover {
        cursor: initial;
    }

    ::-webkit-scrollbar-thumb:hover {
        cursor: initial;
    }
}
