section {
    padding: 1em;
    min-height: 100vh;
    position: relative;
}

section > * {
    z-index: 1;
}

/* About */
#info {
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: max(6vw, 10vh);
    z-index: 1;
}

.hero {
    width: min(min(500px, 90%), 70vh);
    border-radius: 1em;
    box-shadow: 2px 2px 4px dimgrey;
}

.about {
    max-width: min(500px, 80%);
    flex-basis: 50%;
    flex-grow: 1;
    color: black;
    transition: max-width 1s ease;
}

.about--stack {
    display: flex;
    gap: 1.5em;
    margin-bottom: 2em;
}

.stack--item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: min(10vw, 50px);
}

.stack--item i {
    font-size: min(2em, 7vw);
}

.about--text {
    line-height: 1.3em;
}

.about--text--anchor {
    text-decoration: underline;
}

/* Experience */
#experience {
    display: flex;
    line-height: 1.3em;
    padding-top: max(6vw, 10vh);
    background-color: black;
    color: white;
}

.experience--text {
    margin: auto;
    max-width: min(800px, 80%);
    line-height: 1.5em;
}

.experience--text--italic {
    font-style: italic;
}

/* Projects */

#projects {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: max(6vw, 10vh);
    padding-inline: 3em;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.project {
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-top: 1em;
    padding-bottom: 1em;
    isolation: isolate;
    border-bottom: 1px solid var(--main-color);
    z-index: 1;
}

.project > img {
    width: 100%;
    box-shadow: 3px 3px 5px dimgrey;
    cursor: pointer;
}

.project > .description {
    text-align: left;
    padding: 0 5%;
    font-size: 1em;
}

.description .italic {
    font-style: italic;
    margin-bottom: .5em;
}

.project-title {
    margin: .5em 0;
}

.project > .more {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    background-color: var(--main-color);
    width: 45px;
    height: 45px;
}

.more > .bx-plus {
    color: white;
    margin: auto;
}

/* Contacts*/

#contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1em;
    background-color: black;
    color: white;
}

#contacts > h2 {
    width: 100%;
}

#contacts > h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

#contacts div {
    flex-basis: 300px;
    text-align: center;
}

#contacts a {
    color: white;
}

#contacts a i {
    transform: translateY(5px);
}

#contacts a i.bxl-linkedin {
    transform: translateY(2px);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .bx {
    margin-right: .2em;
    font-size: 1.5em;
}

.arrow {
    position: absolute;
    left: 20px;
}

.arrow-up {
    bottom: 90px;
    transform: rotate(180deg);
}

.arrow-down, .arrow-up.last {
    bottom: 20px;
}

.arrow img {
    height: 50px;
    margin: 10px;
}

.about, #experience > *, #contacts > * {
    mix-blend-mode: difference;
}

@media screen and (min-width: 370px) and (max-width: 1063px) {
    .hero {
        margin-top: 4em;
    }
}