@keyframes content-slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes hero-opacity {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    25% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes about-transparent-to-black {
    0% {
        color: transparent;
    }
    33% {
        color: transparent;
    }
    100% {
        color: black;
    }
}

.arrow {
    position: fixed;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.arrow.arrow-up {
    top: calc(50% - 20px);
    border-bottom: 15px solid var(--main-color);
}

.arrow.arrow-down {
    top: calc(50% + 10px);
    border-top: 15px solid var(--main-color);
}

main {
    scroll-snap-type: x mandatory;
}

section {
    padding: 1em;
    min-height: 100vh;
    scroll-snap-align: center;
}

/* About */

#info {
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: max(6vw, 10vh);
}

.hero {
    width: min(min(500px, 90%), 70vh);
    border-radius: 1em;
    box-shadow: grey 2px 2px 4px;
}

.about {
    max-width: min(500px, 80%);
    flex-basis: 50%;
    flex-grow: 1;
    color: black;
    transition: max-width 1s ease;
}

.about--stack {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
}

.stack--item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: min(10vw, 50px);
}

.stack--item i {
    font-size: min(2em, 7vw);
}

.about--text {
    text-align: justify;
    line-height: 1.3em;
}

.about--text--anchor {
    text-decoration: underline;
}

/* Experience */
#experience {
    display: flex;
    line-height: 1.3em;
    padding-top: max(6vw, 10vh);
    background-color: black;
    color: white;
}

.experience--text {
    margin: auto;
    max-width: min(800px, 80%);
    text-align: justify;
}

.experience--text--italic {
    font-style: italic;
}

/* Projects */

#projects {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: max(6vw, 10vh);
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.project {
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-top: 1em;
    padding-bottom: 1em;
    isolation: isolate;
    background-color: #F5F5F5;
    border-bottom: 1px solid var(--main-color);
}

.project > img {
    width: 100%;
    box-shadow: 5px 5px 5px lightgrey;
}

.project > .description {
    text-align: left;
    padding: 0 5%;
    font-size: 1em;
}

.description .italic {
    font-style: italic;
    margin-bottom: .5em;
}

.project-title {
    margin: .5em 0;
}

.project > .more {
    position: absolute;
    top: 30%;
    right: 0;
    display: flex;
    background-color: var(--main-color);
    width: 0;
    height: 45px;
}

.project:hover > .more {
    width: 45px;
    transition: width .5s ease;
}

.more > .bx-plus {
    color: transparent;
    margin: auto;
}

.project:hover > .more > .bx-plus {
    color: white;
    transition: color 1s .5s ease;
}

/* Contacts*/

#contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1em;
    background-color: black;
    color: white;
}

#contacts h2 {
    width: 100%
}

#contacts div {
    flex-basis: 300px;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .bx {
    margin-right: .2em;
    font-size: 1.5em;
}

@media screen and (min-width: 900px) {
    nav .info {
        animation: 3s ease nav-item-opacity;
    }

    nav .experience {
        animation: 3.5s ease nav-item-opacity;
    }

    nav .projects {
        animation: 4s ease nav-item-opacity;
    }

    nav .contacts {
        animation: 4.5s ease nav-item-opacity;
    }
}


@media screen and (min-width: 848px) {
    .hero {
        will-change: animation;
        animation: .75s ease-out 0s content-slide-in, 1s ease-out hero-opacity;
    }

    .about, .about--text--anchor {
        animation: 2.25s ease-out about-transparent-to-black;
    }

    .project {
        border: none;
    }
}


@media screen and (min-width: 370px) and (max-width: 1063px) {
    .hero {
        margin-top: 4em;
    }
}