*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --main-color: #11223d;
    --second-color: #3a76aa;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    /*background-color: var(--main-color);*/
}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

main > div {
    border: 1px solid var(--second-color);
    padding: 1em
}

h2, h3 {
    margin: 0;
}

h2 {
    margin-bottom: 1em;
}

img {
    width: 100%;
    border-radius: 50%;
}

.hero {

}

.name {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
}

.job {
    text-align: center;
}

.projects_list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em
}

.project {
    border: 1px solid royalblue;
    padding: 1em;
    flex-grow: 1;
}

.project_name {

}

