*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --main-color: #11223d;
    --second-color: #3a76aa;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    min-width: fit-content;
    margin: 0;
}

@keyframes nav-slide-in {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes nav-item-opacity {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes content-slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes hero-opacity {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    25% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes about-transparent-to-black {
    0% {
        color: transparent;
    }
    33% {
        color: transparent;
    }
    100% {
        color: black;
    }
}

nav {
    position: fixed;
    background-color: var(--second-color);
    width: 100%;
    height: 7vh;
    top: 0;
    line-height: 4em;
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {

}

/*.arrow {*/
/*    position: fixed;*/
/*    left: 10px;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-left: 15px solid transparent;*/
/*    border-right: 15px solid transparent;*/
/*}*/

/*.arrow.arrow-up {*/
/*    bottom: 35px;*/
/*    border-bottom: 15px solid gray;*/
/*}*/

/*.arrow.arrow-down {*/
/*    bottom: 10px;*/
/*    border-top: 15px solid gray;*/
/*}*/

section {
    padding: 1em;
    min-height: 100vh;
}

#info {
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*margin-top: 4em;*/
}

.hero {
    width: min(min(500px, 90%), 70vh);
    border-radius: 1em;
    box-shadow: grey 2px 2px 4px;
}

.about {
    max-width: min(500px, 80%);
    flex-basis: 50%;
    flex-grow: 1;
    color: black;
    transition: max-width 1s ease;
}

.about:has(details[open]) {
    max-width: min(500px, 80%);
    transition: max-width 1s ease;
}

h1 {
    font-size: min(3em, 13vw);
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin: .5em 0;
}

h2 {
    text-align: center;
}

h4 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

#projects {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 12vw;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    gap: 1em
}

.project {
    position: relative;
    text-align: center;
    flex-basis: 30vw;
    min-width: min(400px, 90vw);
    cursor: pointer;
}

.project > img {
    width: 80%;
    transition: width .5s ease;
    border-radius: 2% 2% 0 0;
}

.project:hover > img {
    width: 100%;
    transition: width .5s ease;
}

.project > .description {
    text-align: left;
    padding-left: 10%;
    font-size: 1em;
    transition: padding-left .5s ease, font-size .5s ease;
}

.project:hover > .description {
    padding-left: 0;
    font-size: 1.2em;
    transition: padding-left .5s ease, font-size .5s ease;
}

.project > .more {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: var(--second-color);
    width: 0;
    height: 45px;
}

.project:hover > .more {
    width: 45px;
    transition: width .5s .5s ease;
}

.more > .bx-plus {
    color: white;
    margin: auto;
}

#contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

#contacts h2 {
    width: 100%
}

#contacts div {
    flex-basis: 300px;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .bx {
    margin-right: .2em;
    font-size: 1.5em;
}

.btn-more {
    margin-top: .3em;
    padding: .4em .8em;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 100;
}

@media screen and (min-width: 900px) {
    nav {
        animation: 2s ease nav-slide-in;
    }

    nav .info {
        animation: 3s ease nav-item-opacity;
    }

    nav .projects {
        animation: 3s ease nav-item-opacity;
    }

    nav .contacts {
        animation: 3s ease nav-item-opacity;
    }

    .hero {
        will-change: animation;
        animation: .75s ease-out 0s content-slide-in, 1s ease-out hero-opacity;
    }

    .about {
        animation: 2.25s ease-out about-transparent-to-black;
    }
}
